---
import "../styles/Global.astro"
import {Navigation} from "../components/Navigation"
import {navMap} from "../nav-map"
import {faCircleQuestion} from "@fortawesome/free-solid-svg-icons"

const {title, section} = Astro.props

const icon =
  navMap.find(option => option.section === (section || title))?.icon ||
  faCircleQuestion
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navigation
      client:idle
      options={navMap}
      section={section || title}
      icon={icon}
    />
    <main>
      <slot />
    </main>
  </body>
</html>
